body {
  background-color: #ffcce6;
  font-family: 'Open Sans', sans-serif;
}
.container-fluid {
  position: absolute;

}
nav {
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;

   }

nav a {
  margin-top: 5px;
  margin-bottom: 5px;
  color: brown;
  font-size: 110%;
  margin: 10px;
  /*text-align: left;*/
}

.w3-sidenav a {
  padding: 5px 0 !important;
}

h2 {
  text-align: center;
}
p {
  display: inline-flex;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
#container {
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
  width: 50%;
  position: relative;




}
img {
  border-radius: 90px;
}
.innerContainer {
  text-align: right;

}
