body {
  background-color: #e6ccff;
  font-family: 'Open Sans', sans-serif;
}
/*.container-fluid {
  position: absolute;

}*/
nav {
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;

   }

nav a {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 110%;
  margin: 10px;
  /*text-align: left;*/
}

.w3-sidenav a {
  padding: 5px 0 !important;
}


.innerContainer {
  display: inline-flex;
  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
}
h3 {
  text-align: center;
}
/*
img {
    margin: 0;
    border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)


}
*/
