body {
  font-family: 'Raleway', sans-serif;
  background-color: honeydew;
  }

.navbar {
  font-size: 120%;
}


.container {
  text-align: center;

  margin-top: 100px;
  width: 100%;

}
h2 {
  text-align: center;
}

.row {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;


}
.iconProjects {
  font-size: 1000%;
}
.col-sm-4 a {
  color: gray;

}
#headshot {
  border-radius: 50px;
}
#contactMe {
  text-align: center;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
.col-md-2 {
  text-align: left;
}


#Contactme {
  color: white;
}
#buttondiv {
  color: black;
}
#Outercontainer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
